{% extends "base.html" %}

{% block app_content %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <link href="/static/css/StyleSheet.css" rel="stylesheet">
  <table class="table table-striped table-bordered table-condensed">
    {{ data.track_table }}
    {{ data.location_table }}
  </table>
  {% if data.point or data.line %}
    <div id="debug"></div>
    <div id="mapid"></div>
    <script>
      var GOOGLE_API = '{{ data.GOOGLE_API }}',
            latitude = '{{ data.latitude }}',            
            longitude = '{{ data.longitude }}',
            altitude = '{{ data.altitude }}',
            positionAccuracy = '{{ data.positionAccuracy }}',
            altitudeAccuracy = '{{ data.altitudeAccuracy }}',
            speed = '{{ data.speed }}',
            heading = '{{ data.heading }}',
            W3W = '{{ data.W3W }}',
            MAPBOX_API = '{{ data.MAPBOX_API }}',
            timeStamp = '{{ data.timeStamp }}',
            point = '{{ data.point }}',
            line = '{{ data.line }}',
            line_data = '{{ data.line_data }}';
    </script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <script src="static/js/map.js"></script>
  {% endif %}
{% endblock %}