{% extends "base.html" %}

{% block app_content %}
      {% if data %}
            <div id="output", class="box"></div>
            <div id="map"></div>
            <script>
                  var url = {{ data.url }},
                        w3w = {{ data.w3w }},
                        GOOGLE_API = {{data.GOOGLE_API}};
            </script>
            <script src="static/js/geoPosition.js"></script>
            <script src="static/js/locate.js"></script>
            <button id="monitor_button" onclick="change()" type="button" value="false">START TRACKING</button>
      {% else %}
           <p>Not allowed</p>
      {% endif %}
{% endblock %}