{% extends "base.html" %}

{% block app_content %}
      {% if {{ allowed }} == false %}
      <p>Sorry. The tracking link is unknown.</p>
      {% else %}
      <meta http-equiv="refresh" content="30">
      <div id="output", class="box"></div>
      <div id="map"></div>
      <script src="static/dist/js/geoPosition.js"></script>
      <script src="static/dist/js/locate.js"></script>
      <button id="monitor_button" onclick="change()" type="button" value="false">START TRACKING</button>
      {% endif %}
{% endblock %}